.git
avutil-fb2k-56.dll
avcodec-fb2k-57.dll
avcodec-fb2k-58.dll
avutil-fb2k-55.dll
libwebp-fb2k.dll
concrt140.dll
foobar2000.exe
installer.ini
msvcp140.dll
msvcp140_1.dll
msvcp140_2.dll
msvcp140_codecvt_ids.dll
portable_mode_enabled
PP-UWP-Interop.dll
shared.dll
vccorlib140.dll
vcruntime140.dll
zlib1.dll
LargeFieldsConfig.txt

theme.fth
version.txt
library-error-log.txt

running
minibar.db
runtime
doc

themes/*.*
themes/TripleQ/src/Images/inkscape_images
themes/TripleQ/src/Images/old
themes/TripleQ/TripleQ_settings


library
playlists-v1.4
crash reports
index-data
_plain text scripts

components/foo_albumlist.dll
components/foo_cdda.dll
components/foo_converter.dll
components/foo_dsp_eq.dll
components/foo_dsp_std.dll
components/foo_fileops.dll
components/foo_freedb2.dll
components/foo_input_std.dll
components/foo_rgscan.dll
components/foo_ui_std.dll
components/foo_unpack.dll

configuration/foo_albumlist.dll.cfg
configuration/foo_cdda.dll.cfg
configuration/foo_converter.dll.cfg
configuration/foo_dsp_eq.dll.cfg
configuration/foo_fileops.dll.cfg
configuration/foo_freedb2.dll.cfg
configuration/foo_input_std.dll.cfg
configuration/foo_rgscan.dll.cfg
configuration/foo_ui_std.dll.cfg

user-components/foo_httpcontrol
configuration/foo_beefweb.dll.cfg
foo_httpcontrol_data
readme controller.txt

user-components/foo_beefweb
configuration/foo_httpcontrol.dll.cfg

user-components/foo_out_asio
configuration/foo_out_asio.dll.cfg

user-components/foo_out_wasapi
configuration/foo_out_wasapi.dll.cfg


user-components/foo_onewaysync
configuration/foo_onewaysync.dll.cfg

component-updates


user-components/foo_jesus
configuration/foo_jesus.dll.cfg
autobackup


user-components/foo_run
configuration/foo_run.dll.cfg

